
<ul>
  <li>
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p>Category: <%= categoryName %></p>
    <p>Price: $<%= product.price %></p>
    <p>Number of Items: <%= product.number_of_items %></p>
    
  </li>
</ul>


<hr>
<p>
  <a href="<%= product.url %>/delete">Delete Product</a>
</p>
<p>
  <a href="<%= product.url %>/update">Update Product</a>
</p>
